/*inicial configs*/
*{
    margin: 0 auto;
    padding: 0 auto; 
}

body{
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family:'letters';
    font-size: 1.5rem;
}

section{
    width: 100vw;
    height: 100vh;
}


#title{
    position: absolute;
    display: flex;
    text-align: center;
}

main {
  background: url("../assets/Cachorros capa.jpg") no-repeat center center;
  background-size: cover;
  display: flex; /*propriedade que deixa as contenções do objeto pai flexivel*/
  flex-direction: column;
  justify-content: center; /*propriedade que alinha ao eixo X*/
  align-items: center; /*propriedade que alinh ao eixo Y*/
  height: 80vh;
  color: white;
}

/*Nav bar --------------------------------------------------------*/

header{
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #181848;
    z-index: 1;
    transition: 2s;
  }
/*animation for header-------------------------------*/
 
.activeHeader{
    transform: translateY(-100%);
    opacity: 0.5;
    transition: 1.5s;
    visibility: hidden;
  }

/*links --------------------------*/
  .nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .nav-list a{
    text-decoration: none;
    color: white;
  }

  .nav-list a:hover{
    color: black;
  }

  .action-button{
    display: flex;
    flex-wrap: nowrap;
    background-color: #f0a818;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 1s;
  }

  #action-button:hover{
    outline: auto;
    color: white;
  }

  .logo{
    width: 8%;
    height: 80%;
    margin-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: white;
  }

  .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /*mobile-navbar -----------------------------------------------------*/

  .mobile-menu{
    cursor: pointer;
    display: none;
  }
  
  .mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s; 
  }

  @media (max-width: 999px) {

    .activeHeader{
        transform:none;
        opacity: 1;
        visibility: visible;
      }

    .nav-list{
      position:fixed;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background-color: #181848;
      flex-direction: column;
      align-items: center;
      justify-content:space-around;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;
    }
    .nav-list li{
     margin-left: 0;
          
    }
    .mobile-menu{
      display: block;
    }
    /*animal list -----------------------------------*/

    #animal-list{
      display: flex;
      flex-direction: column;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    /*standarding some references*/

    .content-align-center{
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .contents-block{
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  }

  .images-in-block{
    margin: 0;
    width: 100%;
    height: 50%;

}

.texts-in-block{
    margin: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center; 
    
  }
  }
    .nav-list.active{
      transform: translateX(0);
    }
  
  @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
  } 
  
  .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
  opacity: 0;
  }
  
  .mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  }

/*standarding some references*/

.content-align-center{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*pages title ------------------------------------------------*/
.pages-title{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 10%; 
    margin-bottom: 2%;
}
/*blocos de conteúdo ------------------------------------------------*/

.contents-block{
    width: 45%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.images-in-block{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;

}

.images-in-block img{
    object-fit: cover;
    position: static;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 200px;
}

.texts-in-block{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left; 
    
}

/*Animal list ------------------------------------------------*/

#adopt-title{
  margin-top: 15vh;
  margin-left: 5%;
  margin-right: 10%; 
  margin-bottom: 5%;
  color: var(--color1);
  border-bottom: solid  var(--color1);
}

#animal-list{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
}

#animal-list li{
  margin: 20px; 
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#animal-list li span{
  margin: 5%;
  text-align: center;
}

.img-animal{
  width: 250px;
  height: 300px;
  border-radius: 20px; 
}

.img-animal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btns-adopt{
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  border: solid 1px #181848;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.btns-adopt:active{
  background-color: #181848;
  outline: auto;
  color: white;
}
/*Help Content -----------------------------------*/
.help-content{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
}

#btn-yourPart{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 1px rgb(69, 69, 255);
    border-radius: 5px;
    background-color: white;
    transition: 1s;

}

#btn-yourPart:hover{
    background-color:  #55aaff;
}

#btn-yourPart:active{
    padding: 20px;
}

/*forms -------------------------------------------------------*/
.donate-forms{
  margin-top: 12vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.donate-forms label{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1.5rem;
  border-bottom: 2px solid #181848;
  
}

#description{
 width: 90%;
 border-radius: 5px;
 background-color: whitesmoke;
}

.donate-forms input{
  width: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}

#btnAdd{
  margin: 2%;
  background-color:  #f0a818;
  padding: 0.5rem 10rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
}

#btnAdd:hover{
  outline: auto;
  color: white;
}

.images-in-block2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.images-in-block2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*absolute center*/
#absolute-center{
  width: 60%;
  height: 60%;
  position: fixed;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient( 135deg, hsl(240, 49%, 19%), rgb(62, 62, 170), rgb(112, 126, 255) );
  visibility: hidden;
}

#absolute-center .form-donor{
  display: flex;
  flex-direction: column;
  
}

.form-donor input{
  padding: 0.4rem;
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px orange;
}
/*fonts -----------------------------------*/
@font-face {
    font-family: 'letters';
    src: url('../fonts/Letters for Learners.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root{
    --color1: #444444;
    --color2: #fcf7d1;
    --color3: #a9a17a;
    --color4: #b52c00;
    --color5: #8c0005;
}